<!-- Toolbar -->
<div class="container" role="banner">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <input #phone placeholder="phone number" />
      <!-- lots of other elements -->


      <div [ngSwitch]="count">
           <h1 *ngSwitchCase="'1'">Hello 1</h1>
           <h2 *ngSwitchCase="'2'">Hello 2</h2>
           <h3 *ngSwitchCase="'3'">Hello 3</h3>
           <h4 *ngSwitchCase="'4'">Hello 4</h4>
           <h5 *ngSwitchDefault>Hello Default</h5>
      </div>

      <!-- phone refers to the input element; pass its `value` to an event handler -->
      <button type="button" (click)="callPhone(phone.value)">Call</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
